@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/dist/css/bootstrap.css';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url("../public/bgbg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes pulse {
  0% {
    border-image-source: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  }
  50% {
    border-image-source: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  }
  100% {
    border-image-source: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  }
}
#hCategory {
  font-size:larger;
  color: white; /* Başlangıçta beyaz renk */
  transition: color 700ms; /* Renk geçişi için transition süresi */
  font-weight: bold;
  cursor: pointer;
}

#hCategory:hover {
  color: #db2777; /* Hover durumunda pembe renk */
}
@keyframes glowing-bottom {
  0% {
    shadow: 0 0 5px 10px rgba(148, 0, 211, 0.7);
  }
  50% {
    shadow: 0 0 20px 10px rgba(148, 0, 211, 0.7);
  }
  100% {
   shadow: 0 0 5px 10px rgba(148, 0, 211, 0.7);
  }
}


#myBorder {
  box-sizing: border-box;
  
  border-bottom-width: 4px;
  border-style: solid;
  border-image-source: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  border-image-slice: 1;
  animation: pulse 2s infinite ,  glowing-bottom 2s infinite;
}
.page-border{
  background-color: grey;
}

footer{
  background-color:  #19191b;
  color: whitesmoke;
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}


.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}
.border-bottom-2 {
  border-bottom: 2px solid #ccc; /* İstediğiniz renk ve kalınlığı burada belirtebilirsiniz */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

